# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Nire Hideaki
#	email = hideaki@nire.com
[color]
	ui = auto
[alias]
	br = branch
	ch = checkout
	st = status
	co = commit
	fe = fetch
	gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	difff = diff --word-diff
[push]
	default = simple
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/nire/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
