"*":
  core:
    packagesWithKeymapsDisabled: []
  editor:
    fontSize: 13
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "2682d8b4-b34d-acbd-a958-152714feac26"
  term3:
    autoRunCommand: "login -f nire"
  welcome:
    showOnStartup: false
